.container{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .title{
        margin: 15px 0;
    }
    .add_button{
        margin-bottom: 30px;
    }
}

.spinner_container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .alert-success{
        width: 100%;
        text-align: center;

    }

}
::ng-deep .spinner-border{
    width: 7rem;
    height: 7rem;
}
